.skills {
  padding: 4rem 1rem 0;
  text-align: center;
}

.list {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-items: center;
  list-style: none;
  padding: 0;
  /* constrain width and center */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 48px;
  height: 48px;
}

.label {
  margin-top: 0.5rem;
  font-size: 0.875rem;
} 